.git
**/node_modules
**/dist
release
**/*.tgz
web/public/play-renderer.js
web/public/editor.js
web/public/play.html
web/public/play.js
web/public/play.css
*.log
dsh-plugin/skill.md
dsh-plugin/presets
.env
.env.*
!**/.env.example
coverage
frontend
